.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  padding: 11rem;
  padding-top: 0px;
  background-color: #D6D2C4;
}


/* Style for Property Details */
.detailsWrapper {
  flex: 1;
  background: #D6D2C4;
  padding: 1rem;
  width: 50%;
}

/* Style for Property Description */
.descriptionWrapper {
  background: #D6D2C4;
  padding: 1rem;
  width: auto;  /* Allow content to define width */
  min-height: auto;  /* Let height expand with content */
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}
/* Responsive Design: Stack items on small screens */
@media (max-width: 768px) {
  .propertyContentWrapper {
    flex-direction: column;
  }
}

.mapWrapper {
  width: 63%;
  height: 500px; 
  margin-top: 20px;
}

.detailsMapContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem; 
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}