.descriptionSection {
  position: relative;
  padding-bottom: 2rem;
}

.descTitle {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #111;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.paragraph {
  margin-bottom: 1rem;
  font-weight: 400;
  color: #444;
  text-align: justify;
  white-space: pre-line;
}

.readMoreButton {
  display: block;
  margin-top: 0.5rem;
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: #000;
  transition: opacity 0.3s ease;
}

.readMoreButton:hover {
  opacity: 0.7;
}
